html
  head
    meta(viewport='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title= title

    link(rel='stylesheet', href='lib/leaflet/leaflet.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='lib/leaflet/leaflet.js')
    script.
        var itemId = !{JSON.stringify(itemId)};
  body
    div(id="map")

    script(src='lib/jquery-1.12.1.min.js')
    script(src='js/map.min.js')
